body {
  margin: 0;
  background-color: black;
  box-sizing: border-box;
}

/*Interact*/

#interactMessageContainer {
  position: fixed;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  left: 50%;
  top: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  border-radius: 5px;
  display: none;
  width: 80%;
  align-items: center;
  gap: 1rem;
}

#interactMessage {
  align-self: center;
  margin: 0;
}

#choiceContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.choice {
  margin: 0;
  padding: 0.5rem;
  border: 3px solid transparent;
}

.selected {
  border: 3px solid green;
  border-radius: 0.5rem;
}

/*Inventory*/

#inventory {
  display: none;
  flex-direction: row;
  position: fixed;
  top: 0;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 1rem;
}

#itemBox {
  display: none;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 1rem;
}

.slot {
  padding: 2rem;
  background-color: rgba(61, 61, 61, 09);
  color: #fff;
  border-radius: 5px;
}

.selectedSlot {
  padding: 3rem;
  background-color: rgba(61, 61, 61, 09);
  border: 2px solid green;
  color: #fff;
  border-radius: 5px;
}

.green-text {
  color: green;
  font-weight: bold;
}
